<ion-header>
  <ion-toolbar>
    <ion-title>{{'EDITNOTE' | translate | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formNota" (ngSubmit)="updateNote()">
    <ion-item>
      <ion-label>{{'TITLE' | translate | titlecase}}</ion-label>
      <ion-input type="text" formControlName="title" [(ngModel)]="this.nota.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'DESCRIPTION' | translate | titlecase}}</ion-label>
      <ion-textarea formControlName="description" [(ngModel)]="this.nota.description"></ion-textarea>
    </ion-item>
    <ion-button expand="full" color="primary" type="submit" [disabled]="this.formNota.invalid || (!this.formNota.controls.title.dirty && !this.formNota.controls.description.dirty)">Agregar</ion-button>
    <ion-button type="button" expand="block" color="medium" fill="clear" (click)="volver()"> VOLVER</ion-button>

  </form>
</ion-content>
