<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)=openMenu() >
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      {{'NEWNOTE' | translate | titlecase}}
    </ion-title>
    <ion-button slot="end" class="button-logout" color="danger" (click)="logout()">{{'LOGOUT' | translate | titlecase}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formNota" (ngSubmit)="addNote()">
    <ion-item>
      <ion-label>{{'TITLE' | translate | titlecase}}</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'DESCRIPTION' | translate | titlecase}}</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-button expand="full" color="primary" type="submit" [disabled]="this.formNota.invalid">{{'ADD' | translate | titlecase}}</ion-button>

  </form>
</ion-content>