<ion-header>
  <ion-toolbar>
    <ion-title>{{'SIGN_UP' | translate | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="centrar">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
        <ion-item class="item" lines="full">
          <ion-label position="floating">{{'EMAIL' | translate | titlecase}}</ion-label>
          <ion-input type="text" id="inputEmail" class="form-control" formControlName="email" required autofocus></ion-input>
        </ion-item>

        <ion-item class="item" lines="full">
          <ion-label position="floating">{{'PASSWORD' | translate | titlecase}}</ion-label>
          <ion-input type="password" class="form-control" formControlName="password" required></ion-input>
        </ion-item>
        
        <ion-item class="item" lines="full">
          <ion-label position="floating">{{'RPASSWORD' | translate | titlecase}}</ion-label>
          <ion-input type="password" class="form-control" formControlName="confirmarPassword" required></ion-input>
        </ion-item>
        <ion-label position="floating" class="errors" *ngIf="checarSiSonIguales()">{{'PASSWORD_MATCH' | translate | titlecase}}</ion-label>

        <ion-button type="submit" expand="block" [disabled]="!Form.valid">{{'SIGN_UP' | translate | titlecase}}</ion-button>
        <ion-button type="button" expand="block" color="medium" fill="clear" (click)="cancel()">{{'BACK' | translate | titlecase}}</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
